body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    margin-top: 0;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-card {
    background-color: #0056b3;
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-item i {
    margin-right: 10px;
    color: #f7c331;
}

.card-body1 {
    border: 2px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 8px;
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
}

.card-text {
    margin: 0;
}

.text-center {
    text-align: center;
}

.Timka {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2px;
    border-radius: 18px;
    background-color: #009b4c;
    max-width: 80%;
    text-align: center;
    margin: auto;
}

.img-container img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.card {
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.card-body {
    background-color: #fff;

}

.card-title {
    color: #fff;
}
.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.list {
    list-style: none;
    padding: 0;
}
.list-style{
    border-bottom-left-radius: 50%;
}
.list-item {
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.list-item-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #6c757d;
}

.semi-circle2{
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    padding-top: 5%;
    margin: 0;
    background: #ffffff;
    height: 90px;
    width: 100%
}
.pageimage{
    background-image: url(asset/10-Photoroom.png);
}
.container1 {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
text-align: center;
width: 500px;
margin: auto;
}

.container1 .titlebiaya {
font-size: 24px;
font-weight: bold;
}

.container1 .price {
font-size: 48px;
color: #fff;
background-color: #f9a825;
border-radius: 10px;
height: 80px;
margin: auto;
}

.container1 .subtitle {
font-size: 12px;
color: #555;
}

.testimoni {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}

.testimoni-header {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.testimoni-image {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 10px;
}

.testimoni-name {
font-weight: bold;
color: #333;
}

.testimoni-content {
font-style: italic;
color: #555;
}
.btn-primary {
background-color: #4CAF50; /* Hijau */
border: none;
}
.container4 {
background-color: #f0f0f0;
border-radius: 10px;
padding: 40px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-button {
background-color: #09ac45;
color: #fff;
font-weight: bold;
text-decoration: none;
padding: 10px 48px;
border-radius: 30px;
display: inline-flex;
align-items: center;
justify-content: center;
margin-top: 15px;
font-size: 24px; /* Disesuaikan untuk ukuran font yang lebih seimbang */
border: 4px solid white;
transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
background-color: #07a33c;
transform: translateY(-3px);
}

.cta-button i {
margin-right: 8px; /* Memberikan jarak antara ikon dan teks */
}
.span{
font-size: 28px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.check{
color: #07a33c;
margin-top: 15px;
text-align: justify;
}